a {
  text-decoration: none;
  color: #063d76;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 40%;
    height: 1px;
    right: 0;
    bottom: -3px;
    left: 0;
    margin: auto;
    background-color: transparent;
    border-radius: 10px;
    -webkit-transition: all 0.5s linear; /* For Safari 3.1 to 6.0 */
    transition: all 0.5s linear;
  }

  &:hover,
  &:active,
  &:focus {
    outline: none;

    &:before {
      background-color: #063d76;
      width: 100%;
    }
  }
}

button {
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 3px;
  color: #444444;
  display: block;
  font-size: 12px;
  margin: auto;
  padding: 10px 30px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.Wrapper {
  margin: auto;
  max-width: 1200px;
}

.Header {
  background-color: #333;

  .Wrapper {
    align-items: flex-start;
    color: #fff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 80px;

    @media only screen and (min-width: 540px) {
      align-items: center;
      flex-direction: row;
    }
  }

  h1 {
    font-size: 25px;
    margin: 15px;
  }

  select {
    margin: 15px;
  }
}

.Main {
  margin-bottom: 20px;
}
