.AppContainer {
  margin: 10px;
}

.TrackContainer {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.TrackCover {
  height: 150px;
  margin-right: 20px;
  width: 150px;
}

@media only screen and (min-width: 768px) {
  .TrackContainer {
    flex-direction: row;
  }
}
